@charset "UTF-8";
body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  margin: 0; */
}

.register-container {
  background: white;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 8px black;
  width: 300px;
}

h3 {
  font-weight: bolder;
  font-size: 20px;
  color: purple;
  text-align: center;
}

.input-group {
  position: relative;
}

.input-group .fa-user,
.fa-envelope,.fa-id-card,
.fa-lock {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: grey;
}

.form-control {
  padding: 5px 5px 5px 30px;
  width: 260px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0 0 3px blue;
  color: black;
  display: block;
  outline: none;
}

.form-control:focus {
  box-shadow: 0 0 3px red;
}
.form-control-register {
  text-align: center;
  padding: 5px;
  width: 300px;
  height: 40px;
  line-height: 20px;
  border-radius: 5px;
  background: yellow;
  cursor: pointer;
  font-weight: bolder;
}

a {
  text-decoration: none;
}

.label {
  text-align: center;
  display: block;
  font-weight: bolder;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}
